body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.navbar {
    background-color: #343d46;
}

.navbar-brand img {
    vertical-align: middle;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

footer {
    background-color: #343d46;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* other CSS code */

.slider {
    position: relative;
    width: 70%;
    max-width: 800px;
    margin: 40px auto;

}

.slide {
    display: none;
    position: absolute;
    width: 100%;

}

.active-slide {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

p {
    text-align: center;
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

ul li {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}
