{% extends "base.html" %}

{% block content %}
<h1>Our Services</h1>
<ul>
    <li><strong>Data Analytics</strong> - Harness the power of data with our comprehensive analytics solutions.</li>
    <li><strong>Machine Learning</strong> - Implement advanced machine learning algorithms to make your processes more efficient.</li>
    <li><strong>Data Visualization</strong>> - Make sense of complex data with our intuitive data visualization services.</li>
    <li><strong>AI Development</strong>> - Stay ahead of the curve with our cutting-edge AI development services.</li>
</ul>
{% endblock %}
